
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Employee.js"></script>

<div class="col-lg-12">
    <div class="col-lg-6">
        <h2>Current Employee with Current Salary (Report)</h2>
        <hr />
        <table id="Emp_Report" class="table-condensed" border="1">

            <thead>
                <tr>
                    <th>EMP_CODE</th>

                    <th>Employee FULL_NAME</th>

                    <th>SALARY</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h2>Department Wise Employee</h2>
        <hr />
        <table id="Emp_DepReport" class="table-condensed" border="1">

            <thead>
                <tr>
                    <th>Department</th>

                    <th>NO. of Employee</th>

                   
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



